include LICENSE
include CHANGES.md
include MANIFEST.in
include README.md
include requirements.txt
include setup.py
recursive-include assets *
recursive-include scripts *
recursive-include pipe_vms_norway *
