#standardsql
DELETE
FROM
  `{{ dest }}`
WHERE
    message_timestamp_month 
      BETWEEN DATE_TRUNC(DATE('{{ start_date }}'), MONTH)
      AND DATE_TRUNC(DATE('{{ end_date }}'), MONTH)
    AND date(message_timestamp) 
      BETWEEN date('{{ start_date }}') 
      AND date('{{ end_date }}')
