#standardsql
WITH

###
### Apply basic transformations to the Norway VMS positions.
###
raw_vms_positions_normalized AS (
  SELECT
    CAST(message_id as STRING) as msgid,
    vessel_name as shipname,
    timestamp_utc as timestamp,
    lat,
    lon,
    speed,
    CAST(course as FLOAT64) as course,
    concat(`global-fishing-watch.udfs_v20210701.normalize_shipname`(vessel_name), if(`global-fishing-watch.udfs_v20210701.normalize_callsign`(callsign) is null, '', concat('-', `global-fishing-watch.udfs_v20210701.normalize_callsign`(callsign)))) as ssvid,
    IF(callsign != "", callsign, NULL) callsign,
    CASE UPPER(vessel_type)
      WHEN 'FISKEFARTØY' THEN 'fishing'
      WHEN 'FISKEFARTØY (AKTIV)' THEN 'fishing'
      WHEN 'FORSKNINGSSKIP' THEN 'research'
      WHEN 'TARETRÅLER' THEN 'kelp trawlers'
      ELSE vessel_type
    END as shiptype,
    "norway_vms" as source,
    "VMS" type
  FROM
  `{{ source }}`
  WHERE
  date(timestamp_utc) = date('{{ date }}')
  GROUP BY 1,2,3,4,5,6,7,8,9,10,11,12
)

###
### Final Query with messag IDs and the normalized values.
### Filtrate the null ssvid.
###
select
  *
FROM
  raw_vms_positions_normalized
WHERE
  ssvid IS NOT NULL
  AND (
    lat IS NOT NULL 
    OR lon IS NOT NULL
    )
