#standardsql
WITH

###
### Apply basic transformations to the temp Norway VMS logbook dca.
###
raw_typed as (
  SELECT
    CAST(IF(relevant_year='', NULL, relevant_year) AS INT64) as relevant_year,
    CAST(IF(message_year='', NULL, message_year) AS INT64) as message_year,
    message_type_code,
    message_type,
    CAST(IF(message_number='', NULL, message_number) AS INT64) as message_number,
    CAST(IF(message_version='', NULL, message_version) AS INT64) as message_version,
    CAST(IF(sequence_number='', NULL, sequence_number) AS INT64) as sequence_number,
    CAST(IF(message_id='', NULL, message_id) AS INT64) as message_id,
    PARSE_TIMESTAMP('%d.%m.%Y %H:%M:%S', replace(CONCAT(message_date,' ', message_hour, ':00'),',000000000', '')) as message_timestamp,
    message_date,
    message_hour,
    callsign_ers,
    shipname_ers,
    registry_ers,
    vessel_flag,
    vessel_flag_group_code,
    vessel_flag_group,
    CAST(IF(quota_type_code='', NULL, quota_type_code) AS INT64) as quota_type_code,
    quota_type,
    activity_code,
    activity,
    port_code,
    port_name,
    port_nacionality,
    PARSE_TIMESTAMP('%d.%m.%Y %H:%M:%S', replace(CONCAT(date_start_activity,' ', hour_start_activity, ':00'),',000000000', '')) as timestamp_start_activity,
    date_start_activity,
    hour_start_activity,
    CAST(REPLACE(lat_start_activity, ',', '.') AS FLOAT64) as lat_start_activity,
    CAST(REPLACE(lon_start_activity, ',', '.') AS FLOAT64) as lon_start_activity,
    CAST(IF(main_area_start_activity_code='', NULL, main_area_start_activity_code) AS INT64) as main_area_start_activity_code,
    main_area_start_activity_name,
    CAST(IF(location_start_activity_code='', NULL, location_start_activity_code) AS INT64) as location_start_activity_code,
    zone_code,
    zone_name,
    area_grouping_start_activity_code,
    area_grouping_start_activity_name,
    CAST(IF(depth_start_activity='', NULL, depth_start_activity) AS INT64) as depth_start_activity,
    PARSE_TIMESTAMP('%d.%m.%Y %H:%M:%S', replace(CONCAT(date_stop_activity,' ', hour_stop_activity, ':00'),',000000000', '')) as timestamp_stop_activity,
    date_stop_activity,
    hour_stop_activity,
    CAST(IF(duration_activity='', NULL, duration_activity) AS INT64) as duration_activity,
    CAST(IF(year_reference='', NULL, year_reference) AS INT64) as year_reference,
    CAST(REPLACE(lat_stop_activity, ',', '.') AS FLOAT64) as lat_stop_activity,
    CAST(REPLACE(lon_stop_activity, ',', '.') AS FLOAT64) as lon_stop_activity,
    CAST(IF(main_area_stop_activity_code='', NULL, main_area_stop_activity_code) AS INT64) as main_area_stop_activity_code,
    main_area_stop_activity_name,
    CAST(IF(location_stop_activity_code='', NULL, location_stop_activity_code) AS INT64) as location_stop_activity_code,
    area_grouping_stop_activity_code,
    area_grouping_stop_activity_name,
    CAST(IF(depth_stop_activity='', NULL, depth_stop_activity) AS INT64) as depth_stop_activity,
    CAST(IF(distance_activity='', NULL, distance_activity) AS INT64) as distance_activity,
    pumped_vessel,
    fao_gear_code,
    fao_gear_name,
    CAST(IF(fdir_gear_code='', NULL, fdir_gear_code) AS INT64) as fdir_gear_code,
    fdir_gear_name,
    CAST(IF(fidr_gear_group_code='', NULL, fidr_gear_group_code) AS INT64) as fidr_gear_group_code,
    fdir_gear_group_name,
    CAST(IF(fdir_main_gear_code='', NULL, fdir_main_gear_code) AS INT64) as fdir_main_gear_code,
    fdir_main_gear_name,
    CAST(IF(fdir_gear_specification_code='', NULL, fdir_gear_specification_code) AS INT64) as fdir_gear_specification_code,
    fdir_gear_specification_name,
    CAST(IF(mesh_size='', NULL, mesh_size) AS INT64) as mesh_size,
    CAST(IF(gear_problem_code='', NULL, gear_problem_code) AS INT64) as gear_problem_code,
    gear_problem_name,
    CAST(IF(gear_quantity='', NULL, gear_quantity) AS INT64) as gear_quantity,
    fao_main_species_code,
    fao_main_species_name,
    CAST(IF(fdir_main_species_code='', NULL, fdir_main_species_code) AS INT64) as fdir_main_species_code,
    fao_species_code,
    fao_species_name,
    CAST(IF(fdir_species_code='', NULL, fdir_species_code) AS INT64) as fdir_species_code,
    fdir_species_name,
    CAST(IF(species_group_code='', NULL, species_group_code) AS INT64) as species_group_code,
    species_group_name,
    CAST(IF(species_main_group_code='', NULL, species_main_group_code) AS INT64) as species_main_group_code,
    species_main_group,
    herring_stock_code,
    herring_stock,
    CAST(IF(fdir_herring_stock_code='', NULL, fdir_herring_stock_code) AS INT64) as fdir_herring_stock_code,
    CAST(IF(weigth_kg='', NULL, weigth_kg) AS INT64) as weigth_kg,
    CAST(IF(individual_number='', NULL, individual_number) AS INT64) as individual_number,
    CAST(IF(species_sex_code='', NULL, species_sex_code) AS INT64) as species_sex_code,
    species_sex,
    CAST(IF(species_length='', NULL, species_length) AS INT64) as species_length,
    CAST(IF(species_circumference='', NULL, species_circumference) AS INT64) as species_circumference,
    CAST(IF(species_bacon_a='', NULL, species_bacon_a) AS INT64) as species_bacon_a,
    CAST(IF(species_bacon_b='', NULL, species_bacon_b) AS INT64) as species_bacon_b,
    CAST(IF(species_bacon_c='', NULL, species_bacon_c) AS INT64) as species_bacon_c,
    CAST(IF(species_fetal_length='', NULL, species_fetal_length) AS INT64) as species_fetal_length,
    species_grenade_number,
    CAST(IF(vessel_id='', NULL, vessel_id) AS INT64) as vessel_id,
    registry,
    callsign,
    shipname,
    CAST(IF(vessel_municipality_code='', NULL, vessel_municipality_code) AS INT64) as vessel_municipality_code,
    vessel_municipality,
    CAST(IF(vessel_county_code='', NULL, vessel_county_code) AS INT64) as vessel_county_code,
    vessel_county,
    CAST(IF(length_max='', NULL, REPLACE(length_max, ',', '.')) AS DECIMAL) as length_max,
    CAST(IF(length_group_code='', NULL, length_group_code) AS INT64) as length_group_code,
    length_group,
    CAST(IF(gross_tonnage_1969='', NULL, gross_tonnage_1969) AS INT64) as gross_tonnage_1969,
    CAST(IF(gross_tonnage='', NULL, gross_tonnage) AS INT64) as gross_tonnage,
    CAST(IF(year_construction='', NULL, year_construction) AS INT64) as year_construction,
    CAST(IF(year_renovation='', NULL, year_renovation) AS INT64) as year_renovation,
    CAST(IF(engine_power='', NULL, engine_power) AS INT64) as engine_power,
    CAST(IF(engine_year='', NULL, engine_year) AS INT64) as engine_year,
    hull_material,
    CAST(IF(width='', NULL, REPLACE(width, ',', '.')) AS DECIMAL) as width,
    authorization_start,
    authorization_end,
    vessel_identification,
    CAST(IF(length='', NULL, REPLACE(length, ',', '.')) AS DECIMAL) as length,
  FROM
    `{{ source }}`
)

###
### Final query with messages in the provided date range
###
SELECT
  *,
  DATE_TRUNC(EXTRACT(DATE FROM message_timestamp), MONTH) as message_timestamp_month
FROM
  raw_typed
WHERE
    message_timestamp >= Timestamp('{{ start_date }}')
    AND message_timestamp < Timestamp('{{ end_date }}')